#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf
data.adj	text eol=crlf
data.adv	text eol=crlf
data.noun	text eol=crlf
data.verb	text eol=crlf



